.card-product-carousel {

  background-color: #ffffff;
  padding: 6.3rem 0 10.4rem 0;
  @media (max-width: 48em) {
    padding: 13.6rem 0 27rem 0;
  }

  &__inner {
    //width: 158rem;
    width: 82.3%;
    margin: 0 auto;
    position: relative;
    max-width: unset;
    @media (max-width: 48em) {
      //width: calc(100% - 10rem);
      width: 100%;
    }
  }

  &__swiper-container {
    //width: 140rem;
    width: 88.6%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 0 10rem 0 10rem;
    @media (max-width: 48em) {
      //padding: 0 0 28.6rem 0;
      width: 100%;
    }
  }

  &__swiper-wrapper {
  }

  &__swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    background: #ffffff;
    @media (max-width: 48em) {
      width: 57.3% !important;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  &__swiper-button-wrap{

  }


  &__swiper-button-prev::after,
  &__swiper-button-next::after {
    display: none;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    z-index: 5;
    width: 6rem;
    height: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #F7F7FC;
    background-size: 1.13rem;
    outline: none;
    position: absolute;
    bottom: calc(50% - 3rem);
    cursor: pointer;
    transition: box-shadow 400ms ease;
    @media (max-width: 48em) {
      position: absolute;
      width: 10rem;
      height: 10rem;
      background-size: 1.88rem;
      background-position: center center;
      bottom: -46%;
      background-color: #ffffff;
    }
  }

  &__swiper-button-prev {
    background-image: url("../img/icons/left-arrow.svg");
    left: 6.4rem;
    box-shadow: 1.5rem 1.5rem 6rem #A7B1C4;
    &:hover {
      box-shadow: 1.5rem 1.5rem 6rem 1rem #A7B1C4;
      transition: box-shadow 400ms ease;
    }

    @media (max-width: 48em) {
      left: 7%;
      box-shadow: 2.5rem 2.5rem 10rem #A7B1C4;
      &:hover {
        box-shadow: 2.5rem 2.5rem 10rem #A7B1C4;
      }
    }
  }

  &__swiper-button-next {
    background-image: url("../img/icons/right-arrow.svg");
    right: 6.4rem;
    box-shadow: -1.5rem 1.5rem 6rem #A7B1C4;

    &:hover {
      box-shadow: -1.5rem 1.5rem 6rem 1rem #A7B1C4;
      transition: box-shadow 400ms ease;
    }

    @media (max-width: 48em) {
      left: 28%;
      box-shadow: 2.5rem 2.5rem 10rem #A7B1C4;
      &:hover {
        box-shadow: 2.5rem 2.5rem 10rem #A7B1C4;
      }
    }
  }
}
