.card-product-more-info{
  background-color: #ffffff;
  &__wrap{
    display: flex;
    flex-direction: column;
    padding: 7.2rem 0 13rem 0;
    border-bottom: 1px solid #EBEEF2;
    @media (max-width: 48em) {
      padding: 6.4rem 0 7.2rem 0;
    }
  }
  &__title{
    font-family: 'Circe-Bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    margin: 0 0 4.6rem 0;
    @media (max-width: 48em) {
      font-size: 4rem;
      line-height: 1.45;
      margin: 0 0 4.4rem 0;
    }
  }
  &__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 48em) {
      flex-direction: column;
    }
  }
  &__text-wrap{
    width: 50%;
    margin: 0 0 9rem 0;
    @media (max-width: 48em) {
      margin: 0 0 7rem 0;
      width: 100%;
    }
    &:last-child{
      margin: 0 0 0 0;
    }
  }
  &__text-title{
    font-family: 'Circe-Bold', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.39;
    color: #202020;
    margin: 0 0 2.3rem 0;
    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 3;
      margin: 0;
    }
  }
  &__list-desk{

    li{
      font-family: 'Circe-Regular', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.8rem;
      line-height: 1.5;
      color: #202020;
      width: 59.2rem;
      @media (max-width: 48em) {
        font-size: 2.8rem;
        line-height: 1.5;
        width: 100%;
      }
      &:nth-child(2){
        margin: 2.7rem 0;
        @media (max-width: 48em) {
          margin: 4rem 0;
        }
      }
    }
  }
  &__list{

    li{
      font-family: 'Circe-Regular', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.8rem;
      line-height: 2.22;
      color: #202020;
      width: 59.2rem;
      @media (max-width: 48em) {
        font-size: 2.8rem;
        line-height: 2.4;
        width: 100%;
      }
    }
  }
  &__list-app{
    li a{
      font-family: 'Circe-Regular', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.8rem;
      line-height: 2.22;
      color: #202020;
      width: 59.2rem;
      text-decoration: underline;
      transition: color 300ms ease;
      &:hover {
        color: #909cb2;
        transition: color 300ms ease;
      }
      @media (max-width: 48em) {
        font-size: 2.8rem;
        line-height: 2.4;
        width: 100%;
        &:hover {
          color: #202020;
        }
      }
    }
  }
}