.card-product-info {
  background-color: #ffffff;

  &__nav {
    padding: 0 0 7.2rem 0;
    @media (max-width: 48em) {
      padding: 10rem 0 8.4rem 0;
      border-top: 1px solid #EBEEF2;
    }
  }

  &__nav-list-wrap{
    @media (max-width: 48em) {
      width: 100%;
      height: 7rem;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__nav-list-inner{
    @media (max-width: 48em) {
      width: 100%;
      height: 12rem;
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EBEEF2;
    @media (max-width: 48em) {
      border-bottom: none;
      height: 7rem;
      width: 100%;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    li {
      margin: 0 2.75rem 0 2.75rem;
      border-bottom: 2px solid transparent;
      transition: border-bottom 300ms ease;

      a{
        font-family: 'Circe-Bold', serif;
        font-weight: 700;
        font-style: normal;
        color: #CDCFDC;
        font-size: 1.6rem;
        line-height: 2.19;
        cursor: pointer;
        @media (max-width: 48em) {
          font-size: 2.8rem;
          line-height: 3;
        }
      }
      &:first-child {
        margin: 0 2.75rem 0 0;
      }

      &:last-child {
        margin: 0 0 0 2.75rem;
      }
    }
    li.active_anchor{
      border-bottom: 2px solid #BDDB3C;
    }
  }
}