.carousel-contacts {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 43.65%;
  background-color: #ffffff;
  @media (max-width: 48em) {
    display: none;
  }
  &__inner {
    width: 52.6rem;
    margin: 0 auto;
  }

  &__swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__swiper-wrapper {
  }

  &__swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.8rem 0 3.2rem 3.4rem;
    @media (max-width: 48em) {
      padding: 0 0 0 0;
      width: 100%;
    }
  }

  &__text-title {
    font-family: 'Circe-Bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 1.48;
    color: #202020;
    @media (max-width: 48em) {
      font-size: 3.2rem;
      line-height: 1.5;
    }
  }

  &__text-list {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 0 0;
    li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 1rem 0 1rem 0;
      &:nth-child(1){
        margin: 0 0 1rem 0;
      }
      &:nth-child(4){
        margin: 1rem 0 0 0;
      }

      span {
        display: block;
      }

      span a {
        color: #202020;
      }

      span:nth-child(odd) {
        width: 1.9rem;
        margin: 0 3rem 0 0;
        img {
          object-fit: contain;
          object-position: center right;
          height: 100%;
          width: 100%;
        }
      }

      span:nth-child(even) {
        width: 21rem;
        font-family: 'Circe-Regular', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.53;
        color: #202020;
      }

      @media (max-width: 48em) {
        font-size: 2.6rem;
      }
    }
  }

  &__img {
    position: relative;
    padding: 0.9rem 0 0 0;
    img {
      object-fit: contain;
      position: absolute;
      right: -8.8rem;
      height: 100%;
      width: 27.9rem;
    }
  }

  &__swiper-button-prev::after,
  &__swiper-button-next::after {
    display: none;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    z-index: 5;
    width: 6rem;
    height: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #F7F7FC;
    background-size: 1.13rem;
    outline: none;
    position: absolute;
    bottom: -27.5%;
    cursor: pointer;
    transition: box-shadow 400ms ease;
  }

  &__swiper-button-prev {
    background-image: url("../img/icons/left-arrow.svg");
    left: 0;
    &:hover {
      box-shadow: -1rem 1rem 3rem #A7B1C4;
      transition: box-shadow 400ms ease;
    }
  }

  &__swiper-button-next {
    background-image: url("../img/icons/right-arrow.svg");
    left: 7.56rem;
    &:hover {
      box-shadow: 1rem 1rem 3rem #A7B1C4;
      transition: box-shadow 400ms ease;
    }
  }
}
