.carousel {
  width: 100%;

  &__swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__swiper-slide {
    flex-shrink: 0;
    background-color: #ffffff;
    width: 78.4895833%;
    position: relative;
    @media (max-width: 48em) {
      width: 100%;
      overflow: hidden;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 0 0 5.6rem 33.1rem;
    @media (max-width: 48em) {
      flex-direction: column-reverse;
      padding: 4.8rem 0 27.6rem 0;
      margin: 0 auto;
      width: calc(100% - 10rem);
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    width: 25.1rem;
    margin: 11.8rem 7.4rem 0 0;
    @media (max-width: 48em) {
      width: 77%;
      margin: 5.5rem 0 0 13.4rem;
    }
  }

  &__text-title {
    color: #202020;
    font-size: 2rem;
    line-height: 1.25;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 2.5rem 0;
    @media (max-width: 48em) {
      font-size: 3.2rem;
      line-height: 1.25;
      margin: 0 0 4rem 0;
    }
  }

  &__text-par {
    color: #202020;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.67;
    font-family: "Circe-Light", serif;
    font-weight: 300;
    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 1.43;
    }
  }

  &__img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7.4rem 0 0 0;
    width: 69.5rem;
    @media (max-width: 48em) {
      align-items: flex-start;
      width: 65rem;
      margin: 0;
    }
  }

  &__img {
    img{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__img-text-size {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 3.33;
    color: #9FACC4;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 2.14;
    }
  }

  &__img-title {
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.2;
    }
  }

  &__img-subtitle {
    font-size: 1.8rem;
    line-height: 1.78;
    color: #202020;
    font-family: "Circe-Regular", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0.4rem 0 1.7rem 0;
    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 2.14;
      margin: 1.4rem 0 3.8rem 0;
    }
  }

  &__img-button {
    font-style: normal;
    width: 24.2rem;
    height: 6rem;
    line-height: 1.5;
    font-size: 1.8rem;
    background-color: #BDDB3C;
    color: white;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 400ms ease;
    &:hover{
      box-shadow: 1rem 0.5rem 3rem #d1d1df;
      transition: box-shadow 400ms ease;
    }
    @media (max-width: 48em) {
      width: 40.15rem;
      height: 10rem;
      line-height: 1.47;
      font-size: 3rem;
      &:hover{
        box-shadow: none;
      }
    }
  }

  &__swiper-pagination {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    width: 6.6rem;
    //bottom: 37.2rem;
    top: 11.2rem;
    left: 23.5rem;
    @media (max-width: 48em) {
      top: auto;
      left: 5rem;
      width: 8.8rem;
      bottom: 32rem;
    }
  }

  &__swiper-pagination-bullet {
    opacity: 1;
    font-size: 2rem;
    line-height: 1.2;
    font-family: "MyriadPro-Regular", serif;
    font-weight: 400;
    color: #202020;
    font-style: normal;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2.4rem 0;
    cursor: pointer;
    @media (max-width: 48em) {
      font-size: 3rem;
      margin: 3.6rem 0;
    }
  }

  &__swiper-pagination-bullet-active {
    width: 6.6rem;
    height: 6.6rem;
    font-family: "MyriadPro-Semibold", serif;
    font-weight: 600;
    color: #ffffff;
    border: 1rem solid #BDDB3C;
    background-color: #202020;
    border-radius: 50%;
    margin: 1.95rem 0;
    outline: none;
    @media (max-width: 48em) {
      width: 8.8rem;
      height: 8.8rem;
      margin: 2.44rem 0;
      border: 1.345rem solid #BDDB3C;
    }
  }

  &__swiper-button-prev::after,
  &__swiper-button-next::after {
    display: none;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    z-index: 5;
    width: 6rem;
    height: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    box-shadow: 1.5rem 1.5rem 6rem #A7B1C4;
    background-size: 1.13rem;
    outline: none;
    position: absolute;
    bottom: 5.9rem;
    cursor: pointer;
    transition: box-shadow 400ms ease;
    &:hover{
      box-shadow: 1rem 1rem 6rem 0.7rem #A7B1C4;
      transition: box-shadow 400ms ease;
    }
    @media (max-width: 48em) {
      width: 9.974rem;
      height: 9.974rem;
      background-size: 1.88rem;
      background-position: center center;
      bottom: 12.43rem;
      &:hover{
        box-shadow: 1.5rem 1.5rem 6rem #A7B1C4;
      }
    }
  }

  &__swiper-button-prev {
    background-image: url("../img/icons/left-arrow.svg");
    left: 12.3%;
    @media (max-width: 48em) {
      left: 6.67%;
    }
  }

  &__swiper-button-next {
    background-image: url("../img/icons/right-arrow.svg");
    right: 12.3%;
    @media (max-width: 48em) {
      right: 59.47%;
    }
  }
}
