.contacts-main {
  background-color: #ffffff;

  &__out-wrap {
    background: linear-gradient(214.6deg, #DEDCE4 28.49%, #A5B1C7 91.79%);
    position: relative;
    padding: 0 0 11rem 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__title {
    position: absolute;
    z-index: 2;
    font-family: 'Circe-ExtraBold', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25.9rem;
    line-height: 1.47;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    left: -2rem;
    @media (max-width: 48em) {
      left: 0;
      font-size: 12.4rem;
      letter-spacing: -0.05em;
      padding: 5rem 0 0 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    padding: 8.4rem 0 0 0;
    @media (max-width: 48em) {
      flex-direction: column-reverse;
      padding: 7rem 0 7.4rem 0;
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23.1rem 0 0 0;
    @media (max-width: 48em) {
      padding: 0 0 0 0;
      width: 100%;
    }
  }

  &__text-title {
    font-family: 'Circe-Bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    line-height: 1.48;
    color: #ffffff;
    @media (max-width: 48em) {
      font-size: 3.2rem;
      line-height: 1.5;
    }
  }

  &__text-list {
    display: flex;
    flex-direction: column;
    margin: 1.8rem 0 0 0;
    li {
      display: flex;
      flex-direction: row;
      margin: 1rem 0 1rem 0;
      &:nth-child(1){
        margin: 0 0 1.4rem 0;
      }
      &:nth-child(4){
        margin: 1.4rem 0 1.4rem 0;
      }
      &:nth-child(5){
        margin: 1.4rem 0 0 0;
      }

      span {
        display: block;
      }

      span a {
        color: #ffffff;
      }

      span:nth-child(odd) {
        width: 10rem;
        font-family: 'Circe-Bold', serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.53;
        color: #ffffff;
        margin: 0 3.3rem 0 0;
      }

      span:nth-child(even) {
        width: 24rem;
        font-family: 'Circe-Regular', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.53;
        color: #ffffff;
      }

      @media (max-width: 48em) {
        font-size: 2.6rem;
      }
    }
  }

  &__img-wrap {
    position: relative;
    @media (max-width: 48em) {
      display: flex;
      justify-content: center;
    }

    img {
      position: absolute;
      left: -2rem;
      object-fit: contain;
      width: 72.6rem;
      height: 100%;
      @media (max-width: 48em) {
        width: 65.8rem;
      }
    }
  }

  &__img-circle-wrap {
    z-index: 1;
    left: calc(50% - 67.3rem / 2);
    position: absolute;
    width: 67.3rem;
    height: 67.3rem;
    background: linear-gradient(154.6deg, #EEFEA8 0%, #C0DE46 91.79%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    @media (max-width: 48em) {
      width: 60.2rem;
      height: 60.2rem;
      left: calc(50% - 60.2rem / 2);
      top: 14rem;
    }
  }

  &__img-circle-inner {
    background-image: linear-gradient(23deg, #cccfdb 20.49%, #dad9e2 91.79%);
    width: 30.3rem;
    height: 30.3rem;
    border-radius: 50%;
    @media (max-width: 48em) {
      width: 33.4rem;
      height: 33.4rem;
    }
  }
}