.footer {
  background-color: #ffffff;
  &__wrap{
    padding: 8.2rem 0 9.1rem 0;
    @media (max-width: 48em) {
      padding: 7rem 0 6rem 0;
    }
  }
  &__wrap-desk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__wrap-mobile{
    display: flex;
    justify-content: center;
    margin: 17rem 0 0 0;
  }

  &__contacts{
    @media (max-width: 48em) {
      width: 44.6%;
    }
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li a{
      font-family: "Circe-Regular", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 2.5;
      color: #202020;
      transition: color 300ms ease;
      &:hover{
        color: #9FACC4;
        transition: color 300ms ease;
      }
      @media (max-width: 48em) {
        font-size: 3rem;
        line-height: 2.67;
        width: 44.78%;
        &:hover {
          color: #202020;
        }
      }
    }
  }

  &__logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 48em) {
      position: absolute;
      bottom: 26rem;
    }
  }

  &__logo {
    img{
      width: 29.4rem;
      height: 10.6rem;
      object-fit: contain;
    }
    @media (max-width: 48em) {
      display: none;
    }
  }

  &__wrap-mobile{
    display: none;
    @media (max-width: 48em) {
      display: block;
    }
  }


  &__logo-wrap-mobile {
  }

  &__logo-mobile {
    img{
      width: 31.1rem;
      height: 11.2rem;
      object-fit: contain;
    }
  }

  &__phone-text {
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.46;
    color: #202020;
    margin: 4.6rem 0 0 0;
    transition: color 300ms ease;
    &:hover{
      color: #BDDB3C;
      transition: color 300ms ease;
    }
    @media (max-width: 48em) {
      font-size: 3.8rem;
      line-height: 1.46;
      margin: 0;
      &:hover {
        color: #202020;
      }
    }
  }

  &__email-text {
    color: #9FACC4;
    font-family: 'Circe-Regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    transition: color 300ms ease;
    &:hover{
      color: #BDDB3C;
      transition: color 300ms ease;
    }
    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 1.5;
      &:hover {
        color: #9FACC4;
      }
    }
  }

  &__request-call {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0 0 0;
    @media (max-width: 48em) {
      margin: 0;
    }
    img {
      width: 2.603rem;
      height: 2.603rem;
      object-fit: contain;
      margin: 0 0 0 0.6rem;
      @media (max-width: 48em) {
        width: 5.2rem;
        height: 5.2rem;
      }
    }

  }

  &__request-call-text {
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.5;
    color: #9FACC4;
    text-decoration-line: underline;
    transition: color 300ms ease;
    &:hover{
      color: #BDDB3C;
      transition: color 300ms ease;
    }
    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 2.85;
      &:hover {
        color: #9FACC4;
      }
    }
  }

  &__categories{
    @media (max-width: 48em) {
      width: 50.1%;
    }
  }

  &__categories-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 48em) {
      align-items: flex-start;
    }

    li a{
      font-family: "Circe-Regular", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 2.5;
      color: #202020;
      transition: color 300ms ease;
      &:hover{
        color: #9FACC4;
        transition: color 300ms ease;
      }
      @media (max-width: 48em) {
        font-size: 3rem;
        line-height: 2.67;
        width: 55.5%;
        &:hover {
          color: #202020;
        }
      }
    }
  }
}