.header-categories {
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
  @media (max-width: 48em) {
    box-shadow: 25px 30px 60px rgba(179, 187, 204, 0.45);
  }

  .categories {

    &__wrapper {
      display: block;
    }

    &__inner {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.6rem 0;
      top: 100%;
      @media (max-width: 48em) {
        flex-wrap: wrap;
        padding: 0;
      }
    }

    &__item {
      &:last-child {
        display: none;
      }

      @media (max-width: 48em) {
        width: 50%;
        border-bottom: 1px solid #F3F7FB;
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(4) {
          display: none;
        }
        &:nth-child(7) {
          display: none;
        }
        &:last-child {
          display: block;
          border-bottom: none;
          line-height: normal;
        }
      }
    }

    &__item-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover .categories__name {
        color: #909cb2;
        transition: color 300ms ease;
        @media (max-width: 48em) {
          color: #202020;
        }
      }

      @media (max-width: 48em) {
        justify-content: flex-start;
        flex-direction: row;
        margin: 1.6rem 0;
      }
    }

    &__img {
      border-radius: 50%;

      img {
        object-fit: contain;
        width: 8.6rem;
        height: 8.6rem;
        @media (max-width: 48em) {
          width: 7.2rem;
          height: 7.2rem;
        }
      }
    }

    &__img-plus {
      @media (max-width: 48em) {
        width: 7.2rem;
        height: 7.2rem;
        background-color: #A5B1C7;
        border-radius: 50%;
        font-family: "Circe-Regular", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        line-height: normal;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__name {
      font-size: 1.8rem;
      line-height: 1.06;
      color: #202020;
      font-family: "Circe-Light", serif;
      font-weight: 300;
      font-style: normal;
      display: block;
      margin: 1.3rem 0 0 0;
      transition: color 300ms ease;

      @media (max-width: 48em) {
        font-family: "Circe-Regular", serif;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.58;
        margin: 0 0 0 1.8rem;
        width: 16.8rem;
      }
    }
  }


  .all-categories {
    position: absolute;
    //height: 100%;
    display: none;
    width: 100%;
    z-index: 5;
    top: 0;

    &__inner {
      background-color: #ffffff;
      padding: 0 5rem 5.6rem 5rem;
    }

    //&__nav-item{
    //  display: none;
    //}

    &__nav-name {
      font-family: "Circe-Bold", serif;
      font-weight: 700;
      font-style: normal;
      font-size: 3rem;
      line-height: 1.47;
      color: #9FACC4;
      text-align: start;
      //margin: 0 0 6.4rem 0;
      border-bottom: 1px solid #EBEEF2;;
      display: block;
      position: relative;
      padding: 5rem 0 5rem 4.8rem;
      &:before {
        content: "";
        position: absolute;
        background-image: url("../img/icons/categories-nav-left-arrow.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 0.6rem 0.8rem;
        width: 3.4rem;
        height: 3.4rem;
        border: 1px solid #EBEEF2;
        border-radius: 50%;
        left: 0;
      }
    }

    &__menu-item {
      margin: 0 0 4rem 0;
    }

    &__inner div:nth-of-type(2){
      margin: 6.4rem 0 4rem 0;
    }

    &__menu-item-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
    }

    &__menu-img {
      object-fit: contain;
      width: 12rem;
      height: 12rem;
    }

    &__menu-name {
      font-family: "Circe-Regular", serif;
      font-weight: 400;
      color: #202020;
      font-style: normal;
      display: block;
      font-size: 5rem;
      line-height: 1.12;
      padding: 0 0 0 3.5rem;
      width: 53rem;
    }
  }

  .show {
    display: block;
  }

  .hidden {
    display: none;
  }

}





