.list-desk-application {
  position: absolute;
  background-color: #ffffff;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  display: none;
  box-shadow: 25px 30px 60px rgba(179, 187, 204, 0.45);
  top: 15.3rem;
  @media (max-width: 48em) {
    display: none !important;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.4rem 0 3.4rem 0;
  }

  &__column {
    display: flex;
    flex-direction: column;


  }

  &__item {
    padding: 2rem 0 0 0;
  }

  &__title-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    &:hover span {
      color: #9FACC4;
      transition: color 300ms ease;
    }
  }

  &__img {
    border-radius: 50%;

    img {
      object-fit: cover;
      width: 5.3rem;
      height: 5.3rem;
    }
  }

  &__title-name {
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    font-style: normal;
    color: #202020;
    display: block;
    font-size: 1.8rem;
    line-height: 1.39;
    padding: 0 0 0 1.4rem;
    transition: color 300ms ease;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 8.8rem;

    li a {
      font-family: "Circe-Light", serif;
      font-weight: 300;
      font-style: normal;
      color: #202020;
      display: block;
      font-size: 1.8rem;
      line-height: 2.3;
      transition: color 300ms ease;

      &:hover {
        color: #9FACC4;
        transition: color 300ms ease;
      }
    }

    li:first-child a {
      line-height: 1;
      padding: 0 0 1.15rem 0;
    }
  }
}

.hidden-opa {
  display: none;
}

