.pop-up-price{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  z-index: 20;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__inner{
    position: relative;
    width: 67rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.1rem 0 7rem 0;
    @media (max-width: 48em) {
      width: calc(100% - 10rem);
      height: auto;
      padding: 10rem 0 12rem 0;
    }
  }

  &__close{
    position: absolute;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    right: 2.8rem;
    top: 1.9rem;
    cursor: pointer;
    @media (max-width: 48em) {
      width: 4.6rem;
      height: 4.6rem;
    }
    &:after{
      position: absolute;
      display: block;
      content: "";
      width: 3.2rem;
      height: 0.2rem;
      background-color: #000000;
      transform: rotate(45deg);
      top: 1.5rem;
      @media (max-width: 48em) {
        width: 4.6rem;
        top: 2.5rem;
      }
    }
    &:before{
      position: absolute;
      display: block;
      content: "";
      width: 3.2rem;
      height: 0.2rem;
      background-color: #000000;
      transform: rotate(-45deg);
      top: 1.5rem;
      @media (max-width: 48em) {
        width: 4.6rem;
        top: 2.5rem;
      }
    }
  }

  &__subtitle{
    font-style: normal;
    font-size: 1.5rem;
    line-height: 3.33;
    color: #9FACC4;
    font-family: "Circe-Bold", serif;
    font-weight: 700;

    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 1.5;
      text-align: center;
    }
  }

  &__title{
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    margin: 0 0 2.8rem 0;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.2;
      margin: 2rem 0 4.4rem 0;
    }
  }

  &__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 51.7rem;
    margin: -0.75rem;
    input{
      margin: 0.75rem;
      outline: none;
      border-radius: 0;
      border: 1px solid #D7DDE6;
      color: #202020;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 1.47;
      font-family: "Circe-Light", serif;
      font-weight: 300;
      padding: 0 0 0 1.9rem;
      @media (max-width: 48em) {
        padding: 0 0 0 3rem;
        font-size: 2.8rem;
      }
    }
    input:nth-child(1), input:nth-child(2), input:nth-child(4),  input:nth-child(5){
      width: calc(50% - 1.5rem);
      height: 4.8rem;
      @media (max-width: 48em) {
        width: calc(100% - 1.5rem);
        height: 9.6rem;
      }
    }
    input:nth-child(3){
      width: calc(100% - 1.5rem);
      height: 4.8rem;
      @media (max-width: 48em) {
        height: 9.6rem;
      }
    }
  }

  &__form-textarea{
    width: calc(100% - 1.5rem);
    height: 11.8rem;
    margin: 0.75rem;
    outline: none;
    border-radius: 0;
    border: 1px solid #D7DDE6;
    color: #202020;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.47;
    font-family: "Circe-Light", serif;
    font-weight: 300;
    padding: 1.3rem 0 0 1.9rem;
    resize: none;
    @media (max-width: 48em) {
      height: 23.6rem;
      padding: 2.8rem 0 0 3rem;
      font-size: 2.8rem;
    }
  }

  &__form-button{
    width: 24.6rem;
    height: 6rem;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.8rem;
    background-color: #BDDB3C;
    color: #ffffff;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 400ms ease;
    border: none;
    margin: 4.3rem 0 0 0;
    &:hover{
      box-shadow: 1rem 0.5rem 3rem #d1d1df;
      transition: box-shadow 400ms ease;
    }
    @media (max-width: 48em) {
      width: 36.6rem;
      height: 9.6rem;
      line-height: 1.2;
      font-size: 3rem;
      margin: 6.4rem 0 0 0;
      &:hover{
        box-shadow: none;
      }
    }

  }
}

.pop-up-call{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  z-index: 20;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__inner{
    position: relative;
    width: 67rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.1rem 0 7rem 0;
    @media (max-width: 48em) {
      width: calc(100% - 10rem);
      height: auto;
      padding: 10rem 0 12rem 0;
    }
  }

  &__close{
    position: absolute;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    right: 2.8rem;
    top: 1.9rem;
    cursor: pointer;
    @media (max-width: 48em) {
      width: 4.6rem;
      height: 4.6rem;
    }
    &:after{
      position: absolute;
      display: block;
      content: "";
      width: 3.2rem;
      height: 0.2rem;
      background-color: #000000;
      transform: rotate(45deg);
      top: 1.5rem;
      @media (max-width: 48em) {
        width: 4.6rem;
        top: 2.5rem;
      }
    }
    &:before{
      position: absolute;
      display: block;
      content: "";
      width: 3.2rem;
      height: 0.2rem;
      background-color: #000000;
      transform: rotate(-45deg);
      top: 1.5rem;
      @media (max-width: 48em) {
        width: 4.6rem;
        top: 2.5rem;
      }
    }
  }

  &__subtitle{
    font-style: normal;
    font-size: 1.5rem;
    line-height: 3.33;
    color: #9FACC4;
    font-family: "Circe-Bold", serif;
    font-weight: 700;

    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 1.5;
      text-align: center;
    }
  }

  &__title{
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    margin: 0 0 2.8rem 0;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.2;
      margin: 2rem 0 4.4rem 0;
    }
  }

  &__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 51.7rem;
    margin: -0.75rem;
    input{
      margin: 0.75rem;
      outline: none;
      border-radius: 0;
      border: 1px solid #D7DDE6;
      color: #202020;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 1.47;
      font-family: "Circe-Light", serif;
      font-weight: 300;
      padding: 0 0 0 1.9rem;
      @media (max-width: 48em) {
        padding: 0 0 0 3rem;
        font-size: 2.8rem;
      }
    }
    input:nth-child(1), input:nth-child(2){
      width: calc(1000% - 1.5rem);
      height: 4.8rem;
      @media (max-width: 48em) {
        height: 9.6rem;
      }
    }
  }

  &__form-textarea{
    width: calc(100% - 1.5rem);
    height: 11.8rem;
    margin: 0.75rem;
    outline: none;
    border-radius: 0;
    border: 1px solid #D7DDE6;
    color: #202020;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.47;
    font-family: "Circe-Light", serif;
    font-weight: 300;
    padding: 1.3rem 0 0 1.9rem;
    resize: none;
    @media (max-width: 48em) {
      height: 23.6rem;
      padding: 2.8rem 0 0 3rem;
      font-size: 2.8rem;
    }
  }

  &__form-button{
    width: 24.6rem;
    height: 6rem;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.8rem;
    background-color: #BDDB3C;
    color: #ffffff;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 400ms ease;
    border: none;
    margin: 4.3rem 0 0 0;
    &:hover{
      box-shadow: 1rem 0.5rem 3rem #d1d1df;
      transition: box-shadow 400ms ease;
    }
    @media (max-width: 48em) {
      width: 36.6rem;
      height: 9.6rem;
      line-height: 1.2;
      font-size: 3rem;
      margin: 6.4rem 0 0 0;
      &:hover{
        box-shadow: none;
      }
    }
  }
}

.pop-up-request{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  z-index: 20;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__inner{
    position: relative;
    width: 67rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.1rem 0 7rem 0;
    @media (max-width: 48em) {
      width: calc(100% - 10rem);
      height: auto;
      padding: 10rem 0 12rem 0;
    }
  }

  &__close{
    position: absolute;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    right: 2.8rem;
    top: 1.9rem;
    cursor: pointer;
    @media (max-width: 48em) {
      width: 4.6rem;
      height: 4.6rem;
    }
    &:after{
      position: absolute;
      display: block;
      content: "";
      width: 3.2rem;
      height: 0.2rem;
      background-color: #000000;
      transform: rotate(45deg);
      top: 1.5rem;
      @media (max-width: 48em) {
        width: 4.6rem;
        top: 2.5rem;
      }
    }
    &:before{
      position: absolute;
      display: block;
      content: "";
      width: 3.2rem;
      height: 0.2rem;
      background-color: #000000;
      transform: rotate(-45deg);
      top: 1.5rem;
      @media (max-width: 48em) {
        width: 4.6rem;
        top: 2.5rem;
      }
    }
  }

  &__subtitle{
    font-style: normal;
    font-size: 1.5rem;
    line-height: 3.33;
    color: #9FACC4;
    font-family: "Circe-Bold", serif;
    font-weight: 700;

    @media (max-width: 48em) {
      font-size: 2.8rem;
      line-height: 1.5;
      text-align: center;
    }
  }

  &__title{
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    margin: 0 0 2.8rem 0;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.2;
      margin: 2rem 0 4.4rem 0;
    }
  }

  &__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 51.7rem;
    margin: -0.75rem;
    input{
      margin: 0.75rem;
      outline: none;
      border-radius: 0;
      border: 1px solid #D7DDE6;
      color: #202020;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 1.47;
      font-family: "Circe-Light", serif;
      font-weight: 300;
      padding: 0 0 0 1.9rem;
      @media (max-width: 48em) {
        padding: 0 0 0 3rem;
        font-size: 2.8rem;
      }
    }
    input:nth-child(2), input:nth-child(3) {
      width: calc(50% - 1.5rem);
      height: 4.8rem;
      @media (max-width: 48em) {
        width: calc(100% - 1.5rem);
        height: 9.6rem;
      }
    }
    input:nth-child(1) {
      width: calc(100% - 1.5rem);
      height: 4.8rem;
      @media (max-width: 48em) {
        height: 9.6rem;
      }
    }
  }

  &__form-textarea{
    width: calc(100% - 1.5rem);
    height: 11.8rem;
    margin: 0.75rem;
    outline: none;
    border-radius: 0;
    border: 1px solid #D7DDE6;
    color: #202020;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.47;
    font-family: "Circe-Light", serif;
    font-weight: 300;
    padding: 1.3rem 0 0 1.9rem;
    resize: none;
    @media (max-width: 48em) {
      height: 23.6rem;
      padding: 2.8rem 0 0 3rem;
      font-size: 2.8rem;
    }
  }

  &__form-button{
    width: 24.6rem;
    height: 6rem;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.8rem;
    background-color: #BDDB3C;
    color: #ffffff;
    font-family: "Circe-Bold", serif;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 400ms ease;
    border: none;
    margin: 4.3rem 0 0 0;
    &:hover{
      box-shadow: 1rem 0.5rem 3rem #d1d1df;
      transition: box-shadow 400ms ease;
    }
    @media (max-width: 48em) {
      width: 36.6rem;
      height: 9.6rem;
      line-height: 1.2;
      font-size: 3rem;
      margin: 6.4rem 0 0 0;
      &:hover{
        box-shadow: none;
      }
    }

  }
}

