.card-product-info {
  background-color: #ffffff;

  &__nav {
    border-bottom: 1px solid #EBEEF2;
    padding: 0 0 8.6rem 0;
    @media (max-width: 48em) {
      padding: 10rem 0 19.6rem 0;
      border-top: 1px solid #EBEEF2;
    }
  }

  &__nav-list-wrap{
    @media (max-width: 48em) {
      width: 100%;
      height: 7rem;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__nav-list-inner{
    @media (max-width: 48em) {
      width: 100%;
      height: 12rem;
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EBEEF2;
    @media (max-width: 48em) {
      border-bottom: none;
      height: 7rem;
      width: 100%;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    li {
      font-family: 'Circe-Bold', serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 2.19;
      color: #CDCFDC;
      margin: 0 2.75rem 0 2.75rem;
      border-bottom: 2px solid transparent;
      transition: border-bottom 300ms ease;
      cursor: pointer;
      @media (max-width: 48em) {
        font-size: 2.8rem;
        line-height: 3;
      }

      &:first-child {
        margin: 0 2.75rem 0 0;
      }

      &:last-child {
        margin: 0 0 0 2.75rem;
      }
    }
    li.current{
      border-bottom: 2px solid #BDDB3C;
    }
  }

  .tab-content{
    display: none;
  }

  .tab-content.current{
    display: block;
  }
}

.characteristic-cp{
  display: flex;
  flex-direction: column;
  &__title {
    font-family: 'Circe-Bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    margin: 5.2rem 0 2.9rem 0;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.45;
      margin: 11rem 0 2.8rem 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 48em) {
      flex-direction: column;
    }

    li {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (max-width: 48em) {
        width: 100%;
        &:nth-child(1) {
          order: 1;
        }
        &:nth-child(2) {
          order: 10;
        }
        &:nth-child(3) {
          order: 2;
        }
        &:nth-child(4) {
          order: 11;
        }
        &:nth-child(5) {
          order: 3;
        }
        &:nth-child(6) {
          order: 12;
        }
        &:nth-child(7) {
          order: 4;
        }
        &:nth-child(8) {
          order: 13;
        }
        &:nth-child(9) {
          order: 5;
        }
        &:nth-child(10) {
          order: 14;
        }
        &:nth-child(11) {
          order: 6;
        }
        &:nth-child(12) {
          order: 15;
        }
        &:nth-child(13) {
          order: 7;
        }
        &:nth-child(14) {
          order: 16;
        }
        &:nth-child(15) {
          order: 8;
        }
        &:nth-child(16) {
          order: 17;
        }
        &:nth-child(17) {
          order: 9;
        }
      }

      &:nth-child(16) span:nth-child(3) {
        position: absolute;
        right: 0;
        top: 1.6rem;
        line-height: 1.5;
        @media (max-width: 48em) {
          width: 30rem;
          top: 2.4rem;
          line-height: 1.5;
        }
      }

      &:nth-child(16) span:nth-child(2) {
        margin: 0 22.6rem 0 0;
        @media (max-width: 48em) {
          margin: 0 26rem 0 0;
        }
      }

      span {
        display: block;

        &:nth-child(1) {
          font-family: 'Circe-Regular', serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1.8rem;
          line-height: 3.33;
          color: #202020;
          @media (max-width: 48em) {
            font-size: 2.8rem;
            line-height: 3.21;
          }
        }

        &:nth-child(2) {
          height: 0.9rem;
          flex-grow: 1;
          display: block;
          border-bottom: 1px dashed #9FACC4;
          overflow: hidden;
          @media (max-width: 48em) {
            height: 1.5rem;
          }
        }

        &:nth-child(3) {
          font-family: 'Circe-Bold', serif;
          font-weight: 700;
          font-style: normal;
          font-size: 1.8rem;
          line-height: 3.33;
          color: #202020;
          width: 22.6rem;
          @media (max-width: 48em) {
            text-align: right;
            width: auto;
            font-size: 2.8rem;
          }
        }
      }
    }
  }
}

.advantage-cp{
  display: flex;
  flex-direction: column;
  &__title {
    font-family: 'Circe-Bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    margin: 5.2rem 0 2.9rem 0;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.45;
      margin: 11rem 0 2.8rem 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 48em) {
      flex-direction: column;
    }

    li {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (max-width: 48em) {
        width: 100%;
      }

      span {
        display: block;
          font-family: 'Circe-Regular', serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1.8rem;
          line-height: 3.33;
          color: #202020;
        @media (max-width: 48em) {
          font-size: 2.8rem;
          line-height: 3.21;
        }
      }
    }
  }
}

.more-info-cp {
  display: flex;
  flex-direction: column;
  &__title {
    font-family: 'Circe-Bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    margin: 5.2rem 0 2.9rem 0;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.45;
      margin: 11rem 0 2.8rem 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 48em) {
      flex-direction: column;
    }

    li {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (max-width: 48em) {
        width: 100%;
      }
      span {
        display: block;
        font-family: 'Circe-Regular', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8rem;
        line-height: 3.33;
        color: #202020;
        @media (max-width: 48em) {
          font-size: 2.8rem;
          line-height: 3.21;
        }
      }
    }
  }
}

.reviews-cp{
  display: flex;
  flex-direction: column;
  &__title {
    font-family: 'Circe-Bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    margin: 5.2rem 0 2.9rem 0;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.45;
      margin: 11rem 0 2.8rem 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 48em) {
      flex-direction: column;
    }

    li {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (max-width: 48em) {
        width: 100%;
      }

      span {
        display: block;
        font-family: 'Circe-Regular', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8rem;
        line-height: 3.33;
        color: #202020;
        @media (max-width: 48em) {
          font-size: 2.8rem;
          line-height: 3.21;
        }
      }
    }
  }
}

.similar-cp{
  display: flex;
  flex-direction: column;
  &__title {
    font-family: 'Circe-Bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.25;
    color: #202020;
    margin: 5.2rem 0 2.9rem 0;
    @media (max-width: 48em) {
      font-size: 5rem;
      line-height: 1.45;
      margin: 11rem 0 2.8rem 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 48em) {
      flex-direction: column;
    }

    li {
      width: calc(50%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (max-width: 48em) {
        width: 100%;
      }


      span {
        display: block;
        font-family: 'Circe-Regular', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8rem;
        line-height: 3.33;
        color: #202020;
        @media (max-width: 48em) {
          font-size: 2.8rem;
          line-height: 3.21;
        }
      }
    }
  }
}