// index.html
@import "./fragments/set";
@import "./libs/fonts.css";

body{
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.lock{
  overflow: hidden;
}

.container {
  @media (max-width: 48em) {
    width: calc(100% - 10rem);
  }
}

header {
}

@import "fragments/header-nav";
@import "fragments/header-categories";
@import "fragments/burger";
@import "fragments/list-all-categories";
@import "fragments/list-application";
@import "fragments/list-agriculture";
@import "fragments/list-desk-application";

main {
  //overflow-x: hidden;
  .main-product{
    background: linear-gradient(176.11deg, #DEDCE4 24.83%, #A5B1C7 69.6%);
    padding: 0 0 15.1rem 0;
    @media (max-width: 48em) {
      padding: 0 0 10.2rem 0;
    }
  }
}

@import "fragments/carousel";
@import "fragments/catalog";
@import "fragments/our-production";
@import "fragments/carousel-product";
@import "fragments/our-advantages";
@import "fragments/about-company";
@import "fragments/albom";
@import "fragments/footer";


// card-product.html
@import "fragments/header-categories-cp";
@import "fragments/breadcrumbs";
@import "fragments/card-product";
@import "fragments/carousel-card-product";
@import "fragments/card-product-info";
@import "fragments/characteristic-cp";
@import "fragments/card-product-advantages";
@import "fragments/card-product-more-info";
@import "fragments/similar-products";
@import "fragments/pop-up";
@import "fragments/map";

// catalog.html
@import "fragments/catalog-main";
@import "fragments/breadcrumbs-catalog-main";
@import "fragments/carousel-catalog";
@import "fragments/all-catalog-header";
@import "fragments/all-catalog";
@import "fragments/all-catalog-side";
@import "fragments/all-catalog-products";
@import "fragments/filter";
@import "fragments/about-cat";
@import "fragments/banner";

// catalog-pallets.html
@import "fragments/breadcrumbs-catalog-pallets";
@import "fragments/pallets-header";

// about.html
@import "fragments/adv-prod";
@import "fragments/adv-about";

