// index.html
@import "./fragments/set";
@import "./libs/fonts.css";

body{
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.lock{
  overflow: hidden;
}

//npm install --save-dev postcss-loader
.container {
  @media (max-width: 48em) {
    width: calc(100% - 10rem);
  }
}

header {
}

@import "fragments/header-nav";
@import "fragments/header-categories";
@import "fragments/burger";
@import "fragments/list-all-categories";
@import "fragments/list-application";
@import "fragments/list-agriculture";
@import "fragments/list-desk-application";

main {
  //overflow-x: hidden;
  .main-product{
    background: linear-gradient(176.11deg, #DEDCE4 24.83%, #A5B1C7 69.6%);
    padding: 0 0 15.1rem 0;
    @media (max-width: 48em) {
      padding: 0 0 10.2rem 0;
    }
  }
}

@import "fragments/carousel";
@import "fragments/catalog";
@import "fragments/our-production";
@import "fragments/carousel-product";
@import "fragments/our-advantages";
@import "fragments/about-company";
@import "fragments/albom";
@import "fragments/footer";


// card-product.html
@import "fragments/breadcrumbs";


