.albom {
  width: 100%;
  height: 100%;
  padding: 7.7rem 0 2.4rem 0;
  background-color: #ffffff;
  &__list {
    display: flex;
    flex-direction: row;
    margin: 0 -1rem;
    li {
      flex-basis: 0;
      margin: 0 1rem;
      img {
        height: 30.4rem;
        width: 100%;
        //margin: 6.3rem 0 0 0;
        object-fit: cover;
      }


      &:nth-child(1) {
        flex-grow: 1;
      }

      &:nth-child(2) {
        flex-grow: 1.21;
      }

      &:nth-child(3) {
        flex-grow: 1;
      }
    }
  }
}