.header-nav {
  border-bottom: 0.1rem solid #DEDCE4;;

  .nav {
    max-width: 100%;
    display: flex;
    padding: 1.75rem 0;

    @media (max-width: 48em) {
      padding: 2.28rem 0;
    }

    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      display: flex;
      @media (max-width: 48em) {
        display: none;
      }
    }

    &__mobile-item {
      @media (max-width: 48em) {
        display: block;
      }
    }

    &__mobile-menu {
      display: none;
      @media (max-width: 48em) {
        display: block;
      }
    }

    &__burger {
      @media (max-width: 48em) {
        img{
          object-fit: contain;
          width: 4.2rem;
          height: 100%;
        }
      }
    }

    &__logo {
      margin: 0 1.853rem 0 -0.4rem;
      img {
        object-fit: contain;
        width: 22rem;
        height: 100%;
      }
      @media (max-width: 48em) {
        margin: 0;
        img {
          object-fit: contain;
          width: 38.8rem;
          height: 100%;
        }
      }
    }


    &__name {
      color: #202020;
      font-family: 'Circe-Light', serif;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2.5;
      height: 100%;
      display: inline-flex;
      align-items: center;
    }

    &__request-call {
      display: flex;
      flex-direction: row;
    }

    &__request-call-text {
      font-family: "Circe-Bold", serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 2.5;
      color: #9FACC4;
      text-decoration-line: underline;
    }

    &__icon-request-call {
      margin: 0.3rem 0.36rem 0 0.601rem;
      img {
        width: 2.603rem;
        object-fit: contain;
        @media (max-width: 48em) {
          width: 4rem;
        }
      }
    }

    &__phone-email-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__phone-email-text-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: 48em) {
        display: none;
      }
    }

    &__phone-text {
      color: #202020;
      font-family: "Circe-Bold", serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2rem;
      line-height: 1;
    }

    &__email-text {
      color: #9FACC4;
      font-family: 'Circe-Regular', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 1.25;
    }

    &__icon-phone {
      margin: 0 0 0 1.401rem;
      img {
        height: 100%;
        width: 2.603rem;
        object-fit: contain;
        @media (max-width: 48em) {
          width: 4rem;
        }
      }
    }
  }
}

